* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "LeagueSpartan", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  background: #0c0d2e;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}

address {
  font-style: normal;
}

/* Original container for a full webpage */
.full-container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Container for a webpage with margin of 86px from left and right compared to original container */
.container {
  max-width: 1298px;
  margin: 0 auto;
  padding: 0 15px;
}
