.benefits {
  padding: 180px 0 160px;
}

.benefits__wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.benefits__desc {
  width: min(100%, 699px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  z-index: 1;
}

.benefits__desc-title {
  color: #fff;
  font-size: 40px;
  line-height: 54px;
}

.benefits__desc-text {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}

.benefits__cards {
  display: flex;
  gap: 110px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits__cards-item-link {
  width: min(100%, 269px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.benefits__cards-item-link-pic {
  display: flex;
  padding: 8px 10px;
  border-radius: 10px;
  background: #010225;
  margin-bottom: 12px;
}

.benefits__cards-item-link-title {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.benefits__cards-item-link:hover .benefits__cards-item-link-title {
  color: #159be8;
}

.benefits__cards-item-link-text {
  color: #fff;
  font-size: 11px;
  line-height: 24px;
  margin-bottom: 10px;
}

.benefits__cards-item-link-more {
  display: flex;
  gap: 10px;
  align-items: center;
}

.benefits__cards-item-link-more-text {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  transition: 0.3s;
}

.benefits__cards-item-link:hover .benefits__cards-item-link-more-text {
  color: #159be8;
}

.benefits__cards-item-link-more-icon path {
  transition: 0.3s;
}

.benefits__cards-item-link:hover .benefits__cards-item-link-more-icon path {
  fill: #159be8;
}
