.mobile {
  background: #010225;
  padding: 108px 0 33px;
}

.mobile__wrap {
  padding-left: 86px;
  display: flex;
  gap: 120px 15px;
  justify-content: space-between;
}

.mobile__main {
  width: min(100%, 617px);
  display: flex;
  flex-direction: column;
}

.mobile__main-desc {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.mobile__main-desc-tag {
  color: #159be8;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.mobile__main-desc-title {
  width: min(100%, 456px);
  color: #fff;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 8px;
}

.mobile__main-desc-text {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
}

.mobile__main-cards {
  display: flex;
  gap: 56px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.mobile__main-cards-item {
  width: min(100%, 269px);
}

.mobile__main-cards-item-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

.mobile__main-cards-item-link-pic {
  display: flex;
  padding: 8px 10px;
  border-radius: 10px;
  background: #010225;
  margin-bottom: 12px;
}

.mobile__main-cards-item-link-pic-img {
  max-width: 30px;
  max-height: 34px;
}

.mobile__main-cards-item-link-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.mobile__main-cards-item-link:hover .mobile__main-cards-item-link-title {
  color: #159be8;
}

.mobile__main-cards-item-link-text {
  color: #fff;
  font-size: 11px;
  line-height: 24px;
}

.mobile__main-get {
  position: relative;
  width: min(100%, 164px);
  height: 48px;
}

.mobile__main-get-link {
  padding: 16px 32px;
  color: #fff;
  border-radius: 100px;
  border: 2px solid #159be8;
  background: #159be8;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.mobile__main-get:hover .mobile__main-get-link {
  background: #fff;
  color: #159be8;
  border: 2px solid white;
}

.mobile__main-get-icon {
  position: absolute;
  top: -3px;
  right: -45px;
}

.mobile__main-get-icon rect {
  transition: 0.3s;
}

.mobile__main-get:hover .mobile__main-get-icon rect {
  fill-opacity: 1;
}

.mobile__side {
  max-width: 720px;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 1430px) {
  .mobile__wrap {
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
  }
}

@media screen and (max-width: 992px) {
  .mobile__main {
    align-items: center;
    text-align: center;
  }

  .mobile__main-desc-title {
    width: 100%;
  }

  .mobile__main-cards-item-link {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .mobile__side {
    flex-direction: column;
    gap: 40px 15px;
  }
}