.pricing {
  padding: 180px 0 50px;
  background: #010225;
}

.pricing__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__desc {
  width: min(100%, 699px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 44px;
}

.pricing__desc-tag {
  color: #159be8;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.pricing__desc-title {
  color: #fff;
  font-size: clamp(1.875rem, 1.701rem + 0.87vw, 2.5rem);
  line-height: 54px;
  margin-bottom: 8px;
}

.pricing__desc-text {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}

.pricing__bill {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 40px;
}

.pricing__bill-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pricing__bill-content-text {
  color: #fff;
  line-height: 20px;
}

.pricing__bill-content-toggle {
  width: 46px;
  height: 22px;
  border-radius: 20px;
  border: 1px solid rgba(21, 155, 232, 0.2);
  background: #212250;
  display: flex;
  align-items: center;
}

.pricing__bill-content-toggle-switcher {
  width: 20px;
  height: 18px;
  border-radius: 20px;
  background: #fff;
}

.pricing__bill-content-toggle:active .pricing__bill-content-toggle-switcher {
  padding-left: 5px;
}

.pricing__bill-desc {
  display: flex;
  flex-direction: column;
}

.pricing__bill-desc-text {
  color: #fff;
  line-height: 20px;
}

.pricing__bill-desc-discount {
  color: #159be8;
  font-size: 14px;
  line-height: 16px;
}

.pricing__cards {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing__cards-item {
  width: min(100%, 389px);
  height: 439px;
}

.pricing__cards-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background: #0c0d2e;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 10px;
  height: inherit;
}

.pricing__cards-item-link:first-child {
  border-top: 4px solid #159be8;
}

.pricing__cards-item-link:nth-child(2) {
  border-top: 4px solid #f95b74;
}

.pricing__cards-item-link:last-child {
  border-top: 4px solid #7c44e2;
}

.pricing__cards-item-link-title {
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 40px;
  transition: 0.3s;
}

.pricing__cards-item-link:hover .pricing__cards-item-link-title_blue {
  color: #159be8;
}

.pricing__cards-item-link:hover .pricing__cards-item-link-title_red {
  color: #f95b74;
}

.pricing__cards-item-link:hover .pricing__cards-item-link-title_purple {
  color: #7c44e2;
}

.pricing__cards-item-link-price {
  color: #fff;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 32px;
}

.pricing__cards-item-link-text {
  color: #fff;
  line-height: 22px;
  margin-bottom: 31px;
}

.pricing__cards-item-link-trial {
  color: #fff;
  padding: 16px 32px;
  border-radius: 100px;
  border: 2px solid #fff;
  transition: 0.3s;
}

.pricing__cards-item-link:hover .pricing__cards-item-link-trial {
  background: #fff;
  color: #159be8;
}
