.banner {
  height: 720px;
  background: #010225;
}

.banner__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 86px;
  position: relative;
}

.banner__main {
  max-width: 617px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner__main-title {
  color: #fff;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 8px;
}

.banner__main-text {
  color: #fff;
  font-size: 12px;
  line-height: 30px; 
  margin-bottom: 14px;
}

.banner__main-links {
  display: flex;
  align-items: center;
}

.banner__main-links-link {
  display: flex;
}

.banner__side {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
