.banner {
  background: #010225;
}

.banner__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 86px;
  position: relative;
}

.banner__main {
  max-width: 617px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 192px 0 164px;
  z-index: 1;
}

.banner__main-title {
  color: #fff;
  font-size: clamp(1.875rem, 1.284rem + 2.96vw, 4rem);
  line-height: 76px;
  margin-bottom: 8px;
}

.banner__main-text {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 14px;
}

.banner__main-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.banner__main-links-link {
  display: flex;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 688px;
  max-height: 982px;
}

@media screen and (max-width: 1200px) {
  .banner__img {
    max-width: 550px;
    max-height: 700px;
  }

  .banner__main {
    max-width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .banner__main {
    padding: 240px 0 164px;
    max-width: unset;
  }

  .banner__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .banner__wrap {
    padding-left: 15px;
  }

  .banner__main-title {
    line-height: 50px;
  }
}

@media screen and (max-width: 661px) {
  .banner__main {
    padding: 280px 0 164px;
  }
}
