* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "LeagueSpartan", sans-serif;
  font-weight: 400;
  background: #0c0d2e;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.page-container {
  max-width: 1470px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1298px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
