.header {
  background: rgba(12, 13, 46, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__wrap {
  padding: 14px 43px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.header__logo {
  display: flex;
  cursor: pointer;
}

.header__main {
  display: flex;
  gap: 28px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.header__main-menu {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.header__main-menu-item-link {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  transition: 0.3s;
}

.header__main-menu-item-link:hover {
  color: #189ce8;
}

.header__main-link {
  color: #fff;
  padding: 15px 32px;
  border-radius: 100px;
  border: 2px solid #fff;
  transition: 0.3s;
}

.header__main-link:hover {
  color: #189ce8;
  background: #fff;
}

@media screen and (max-width: 992px) {
  .header__wrap {
    flex-direction: column;
    gap: 10px;
    padding: 5px;
  }

  .header__main-link {
    padding: 10px;
  }

  .header__logo-img {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header__main-menu {
    gap: 10px;
  }

  .header__main {
    gap: 10px;
  }

  .header__main-menu-item-link {
    font-size: 14px;
  }
}
