.ratings {
  background: #010225;
  padding: 180px 0 160px;
}

.ratings__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratings__desc {
  width: min(100%, 623px);
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  text-align: center;
  margin-bottom: 56px;
}

.ratings__desc-text {
  color: #159be8;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}

.ratings__desc-title {
  color: #fff;
  font-size: 40px;
  line-height: 54px;
}

.ratings__sponsors {
  display: flex;
  gap: 53px;
  align-items: center;
  margin-bottom: 99px;
  flex-wrap: wrap;
  justify-content: center;
}

.ratings__sponsors-link {
  display: flex;
}

.ratings__cards {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  justify-content: center;
}

.ratings__cards-card {
  width: min(100%, 288px);
  display: flex;
  flex-direction: column;
}

.ratings__cards-card-imgs {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 26px;
}

.ratings__cards-card-imgs-pic {
  padding: 6px 5px;
  border-radius: 3px;
  background: #212250;
}

.ratings__cards-card-text {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 22px;
}

.ratings__cards-card-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ratings__cards-card-profile-img {
  max-width: 50px;
  max-height: 50px;
}

.ratings__cards-card-profile-desc {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ratings__cards-card-profile-desc-title {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  transition: 0.3s;
}

.ratings__cards-card:hover .ratings__cards-card-profile-desc-title {
  color: #159be8;
}

.ratings__cards-card-profile-desc-text {
  color: #fff;
  font-size: 14px;
  line-height: 16px; 
}
